<!-- Generated template for the FurnitureComponent component -->
<ion-slides pager="true" autoplay="2000" loop="true" class="sli">
  <ion-slide>
    <img src="../../assets/imgs/furniture/bg.png" alt="banner">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/imgs/furniture/bg.png" alt="banner">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/imgs/furniture/bg.png" alt="banner">
  </ion-slide>
</ion-slides>

<ion-row class="tri">
  <ion-col col-4 col-push-1>
    <img src="../../assets/imgs/furniture/dis_01.png" alt="客厅">
    <p>客厅</p>
  </ion-col>
  <ion-col col-4 col-push-2>
    <img src="../../assets/imgs/furniture/dis_02.png" alt="书房">
    <p>书房</p>
  </ion-col>
  <ion-col col-4 col-push-2>
    <img src="../../assets/imgs/furniture/dis_03.png" alt="门厅" style="height:100px;">
    <p>门厅</p>
  </ion-col>
</ion-row>

<div class="subtitle">
  <h3 text-center>桔|子|家|居</h3>
  <p text-center>Orange Household</p>
</div>

<ion-grid class="goods gird">
  <ion-row>
    <ion-col col-6>
      <img src="../../assets/imgs/home/list-bg-1.png" alt="1">
      <p>北欧原木色置物架</p>
    </ion-col>
    <ion-col col-6>
      <img src="../../assets/imgs/home/list-bg-2.png" alt="2">
      <p>简约黑檀木茶几</p>
    </ion-col>
    <ion-col col-6>
      <img src="../../assets/imgs/home/list-bg-3.png" alt="3">
      <p>北欧白橡木书架</p>
    </ion-col>
    <ion-col col-6>
      <img src="../../assets/imgs/home/list-bg-4.png" alt="4">
      <p>北欧风餐边柜</p>
    </ion-col>
  </ion-row>
</ion-grid>