<div class="container">
  <div id="left">
    <img src="imgs/regist-left.png">
  </div>
  <div id="right">
    <div id="email">
      <p>邮箱</p>
      <input type="text" placeholder="you@example.com">
    </div>
    <div id="name">
      <p>昵称</p>
      <input type="text" placeholder="请输入昵称">
    </div>
    <div id="psw">
      <p>密码</p>
      <input type="password" placeholder="请输入密码">
    </div>
    <div id="sel">
      <p>角色</p>
      <input type="radio" name="character" checked="checked">学生&nbsp;
      <input type="radio" name="character">教师
    </div>
    <br>
    <div id="yzm">
      <p>验证码</p><br>
      <input type="text" placeholder="请输入验证码">
      <img src="imgs/yzm.png" alt="验证码">
    </div>
    <button class="btn btn-success btn-lg btn-block">注册雪梨教育</button>
  </div>
</div>
