recommendation {
    .sli{
        height:200px;
        img{
            width: 100%;
        }
    }
    .subtitle{
        letter-spacing: 5px;
    }
    .goods{
        img{
            width: 100%;
        }
        ion-col{
            position: relative;
            p{
                position: absolute;
                width: 93%;
                bottom: -4px;
                color: #fff;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background-color: rgba(0,0,0,0.5);
            }
        }
    }
    ion-scroll{
        height: 30px;
        margin-bottom: 30rpx;
        white-space: nowrap;
        span{
            display: inline-block;
            width: 100px;
            text-align: center;
        }
    }
}
