<!-- Generated template for the RecommendationComponent component -->
<ion-slides pager="true" autoplay="1000" loop="true" class="sli">
  <ion-slide>
    <img src="../../assets/imgs/home/bg.png" alt="banner">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/imgs/home/bg.png" alt="banner">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/imgs/home/bg.png" alt="banner">
  </ion-slide>
</ion-slides>

<div class="subtitle">
  <h3 text-center>热门推荐</h3>
  <p text-center>RECOMMENDATION</p>
</div>

<ion-grid class="goods gird">
  <ion-row>
    <ion-col col-6>
      <img src="../../assets/imgs/home/list-bg-1.png" alt="">
      <p>北欧原木色置物架</p>
    </ion-col>
    <ion-col col-6>
      <img src="../../assets/imgs/home/list-bg-2.png" alt="">
      <p>简约黑檀木茶几</p>
    </ion-col>
    <ion-col col-6>
      <img src="../../assets/imgs/home/list-bg-3.png" alt="">
      <p>北欧白橡木书架</p>
    </ion-col>
    <ion-col col-6>
      <img src="../../assets/imgs/home/list-bg-4.png" alt="">
      <p>北欧风餐边柜</p>
    </ion-col>
    <ion-col col-6>
    <img src="../../assets/imgs/home/list-bg-5.png" alt="">
    <p>北欧木原色</p>
  </ion-col>
  <ion-col col-6>
    <img src="../../assets/imgs/home/list-bg-6.png" alt="">
    <p>北欧木原色</p>
  </ion-col>
  </ion-row>
</ion-grid>
<!-- <div>
  {{text}}
</div> -->