<div>
  <a [routerLink]="['/home']"><img src="../../../../imgs/logo.png" alt="logo"></a>
  <ul class="nav">
      <li class="ho"><a [routerLink]="['/home']">首页</a></li>
      <li class="ho"><a [routerLink]="['/scourse']">同步课</a></li>
      <li class="ho"><a [routerLink]="['/ccourse']">课程</a></li>
      <li class="ho"><a [routerLink]="['/community']">社区</a></li>
      <li class="search">
          <input type="text" name="text" placeholder="搜索课程、问答">
          <button value="submit"><span class="glyphicon glyphicon-search"></span></button>
      </li>
      <li class="ho"><a href="#">登录</a></li>
      <li class="ho"><a href="#">注册</a></li>
    </ul>
</div>
